<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">

<footer class="footer">
  <div class="footer-inner">
    <span class="muted">© Hostel Dekho</span>
        <span class="muted">Made with <i class="bi bi-heart-fill"></i> by Gurumauj Satsangi <br>
        Incase of any queries, please feel free to reach out to me at <a href="mailto:gurumaujsatsangi@gmail.com">gurumaujsatsangi@gmail.com</a></span>

    <div class="footer-links">
      <a class="btn btn-outline" href="https://linkedin.com/in/gurumauj-satsangi" target="_blank" role="button"><i class="bi bi-linkedin"></i>&nbsp;LinkedIn</a>
      <a class="btn btn-outline" href="https://github.com/GurumaujSatsangi" target="_blank" role="button"><i class="bi bi-github"></i>&nbsp;GitHub</a>
    </div>
  </div>
</footer>