<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<nav class="app-navbar">
  <div class="nav-shell">
    <a href="/" class="brand">
      <span class="brand-icon"><i class="bi bi-house-heart-fill"></i></span>
      <span>Hostel Dekho</span>
    </a>
    <div class="nav-actions">
      <a type="button" onclick="mhlayout()" class="btn btn-primary">Mens Hostel Layout</a>
    </div>
     <div class="nav-actions">
      <a type="button" disabled class="btn btn-primary">Mens Hostel Counselling is on March 6 (NRI) & on March 7/8 (Indian)</a>
    </div>


    
  </div>
</nav>

<script>
  function mhlayout(){

Swal.fire({
    title: "Mens Hostel Layout",

  imageUrl: "/mhlayout.png",
  imageWidth: 800,
  imageHeight: 500,
  imageAlt: "MH Layout",
  confirmButtonColor: '#22c55e'

});

  }


  function lhlayout(){

Swal.fire({
  title: "Ladies Hostel Layout",
  imageUrl: "/mhlayout.png",
  imageWidth: 800,
  imageHeight: 500,
  imageAlt: "LH Layout",
  confirmButtonColor: '#22c55e'

});

  }
</script>