<%- include('dashboard/partials/navbar') %>
<div class="container">
  <div class="alert alert-primary" role="alert">
    <b>Welcome, <%= user.name %></b> &nbsp;<a
      href="/logout"
      class="btn btn-outline-danger"
      type="button"
      >Logout</a
    >
  </div>
  <form action="/submit-room-details" method="POST">
    
        <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Select Block</label>
      <select class="form-select" name="block" aria-label="Default select example">
        <option selected>Open this select menu</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>

     <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Select Floor</label>
      <select class="form-select" name="floor" aria-label="Default select example">
        <option selected>Open this select menu</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>


    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Room Number</label>
      <input type="number" class="form-control" name="room_number" id="exampleInputPassword1" />
    </div>

    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Speed Test</label>
      <input type="button" class="form-control" name="speedtest" id="exampleInputPassword1" />
    </div>

    <div class="mb3">
      <label for="exampleInputPassword1" class="form-label">Room's Photo</label>

      <div class="input-group mb-3">
        <input type="file" class="form-control" name="photo" id="inputGroupFile02" />
        <label class="input-group-text" for="inputGroupFile02">Upload</label>
      </div>
    </div>

    <div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">Remarks</label>
  <textarea class="form-control" id="exampleFormControlTextarea1" name="remarks" rows="3"></textarea>
</div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
<%- include('partials/footer') %>
