<%- include('dashboard/partials/navbar') %>

<div class="container">
  <div class="alert alert-primary" role="alert">
    <b>Welcome, <%= user.name %></b> &nbsp;<a
      href="/logout"
      class="btn btn-outline-danger"
      type="button"
      >Logout</a
    >

    
  </div>
  <table class="table"><tr><td>Your Block is <%= user.block %></td></tr></table>
  <form action="/submit-room-details" method="POST">
 

    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Select Floor</label>
      <select
        class="form-select"
        name="floor"
        aria-label="Default select example"
      ></select>
    </div>

    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Room Number</label>
      <input
        type="number"
        class="form-control"
        name="room_number"
        id="exampleInputPassword1"
      />
    </div>

    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Speed Test</label>
      <input
        type="button"
        class="form-control"
        name="speedtest"
        id="exampleInputPassword1"
      />
    </div>

    <div class="mb3">
      <label for="exampleInputPassword1" class="form-label">Room's Photo</label>

      <div class="input-group mb-3">
        <input
          type="file"
          class="form-control"
          name="photo"
          id="inputGroupFile02"
        />
        <label class="input-group-text" for="inputGroupFile02">Upload</label>
      </div>
    </div>

    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label"
        >Remarks</label
      >
      <textarea
        class="form-control"
        id="exampleFormControlTextarea1"
        name="remarks"
        rows="3"
      ></textarea>
    </div>

    <input type="submit" value="submit" class="btn btn-primary" />
  </form>
</div>

 <%- include('partials/footer') %>
