<%- include('dashboard/partials/navbar') %>
<div class="container">
<div class="alert alert-primary" role="alert">
  
  <b>Welcome, <%= user.name %></b> &nbsp;<a href="/logout"  class="btn btn-outline-danger" type="button">Logout</a> 
</div>

</div>
<%- include('partials/footer') %>