<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <%- include('partials/navbar') %>
    <h3>You are viewing the floor plan of floor - <%= floorplan.floor %> of <%= hosteldata.hostel_name %> Block. </h3>
    
    <%- include('partials/footer') %>
  </body>
</html>
